<%= content_for :content_title do %>
  <h1>Posts for <%= @author.handle %></h1>
<% end %>

<%= content_for :content_body do %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <% if current_user == @author %>
          <th>Published</th>
        <% end %>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'post', collection: @posts %>
    </tbody>
  </table>
<% end %>

<%= content_for :content_footer do %>
  <% if policy(Post).create? %>
    <%= link_to 'New Post', new_user_post_path(user_id: current_user.id) %>
  <% end %>
<% end %>
