<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <% if current_user == @author %>
        <th>Published</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <% if current_user == @author %>
          <td><%= post.published %></td>
        <% end %>
        <td><%= link_to 'Show', post %></td>
        <td>
          <% if current_user.present? %>
            <%= link_to 'Edit', edit_user_post_path(post, user_id: current_user&.id) %>
          <% else %>
            Edit
          <% end %>
        </td>
        <td>
          <% if current_user.present? %>
            <%= link_to 'Destroy', user_post(post, user_id: current_user.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            Destroy
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.present? %>
  <%= link_to 'New Post', new_user_post_path(user_id: current_user.id) %>
<% end %>
